{% extends 'base.jinja2' %}
{% block extra_navs %}
  {% set path = request.route_path('municipalities', traverse=(municipality.id, 'skips')) %}
  <li class="tasks-menu">
    <a href="{{ path }}" class="{% if request.is_current_path(path) %}active{% endif %}">
      <i class="fa fa-truck"></i>
      Skip Types
    </a>
  </li>
  {% set path = request.route_path('municipalities', traverse=(municipality.id, 'profile')) %}
  <li class="tasks-menu">
    <a href="{{ path }}" class="{% if request.is_current_path(path) %}active{% endif %}">
      <i class="fa fa-cog"></i>
      Site Profile
    </a>
  </li>
{% endblock %}
{% block wrapper %}
  <!-- Left side column. contains the logo and sidebar -->
  <aside class="left-side sidebar-offcanvas">
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">
      <!-- Sidebar user panel -->

      <!-- search form -->

      <!-- /.search form -->
      <!-- sidebar menu: : style can be found in sidebar.less -->
      <ul class="sidebar-menu">
        <li class="">
          <a href="{{ request.route_url('municipalities', traverse=(municipality.id)) }}">
            <span>Overview</span>
          </a>
        </li>
        {% set path = request.route_path('municipalities', traverse=(municipality.id, 'daily-waste')) %}
        <li class="{% if request.is_current_path(path) %}active{% endif %}">
          <a href="{{ path }}">
            <span>Daily Waste Register</span>
            {% if municipality.num_actionable_daily_wastes > 0 %}
            <small class="badge pull-right bg-yellow">{{ municipality.num_actionable_daily_wastes }}</small>
            {% endif %}
          </a>
        </li>
        {% set path = request.route_path('municipalities', traverse=(municipality.id, 'monthly-waste-density')) %}
        <li class="{% if request.is_current_path(path) %}active{% endif %}">
          <a href="{{ path }}">
            <span>Monthly Waste Density</span>
            {% if municipality.num_actionable_monthly_waste > 0 %}
            <small class="badge pull-right bg-yellow">{{ municipality.num_actionable_monthly_waste }}</small>
            {% endif %}
          </a>
        </li>
        <li class="">
          <a href="#">
            <span>Monthly Waste Composition</span>
          </a>
        </li>
        <li class="">
          <a href="#">
            <span>Daily Rejects Landfilled</span>
          </a>
        </li>
        <li class="">
          <a href="#">
            <span>Monthly Density of Rejects from Sieving</span>
          </a>
        </li>
        <li class="">
          <a href="#">
            <span>Windrow Monitoring</span>
          </a>
        </li>
        <li class="">
          <a href="#">
            <span>Municipality Electricity Register</span>
          </a>
        </li>
        <li class="">
          <a href="#">
            <span>Leachate Monthly Register</span>
          </a>
        </li>
        <li class="">
          <a href="#">
            <span>Compost Sales Register</span>
          </a>
        </li>
        <li class="">
          <a href="#">
            <span>Monthly Composition of Rejects from Sieving</span>
          </a>
        </li>
        <li class="">
          <a href="#">
            <span>Daily Vehicle Data Register</span>
          </a>
        </li>
      </ul>
    </section>
    <!-- /.sidebar -->
  </aside>

  <!-- Right side column. Contains the navbar and content of the page -->
  <aside class="right-side">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        {{ self.title() }}
      </h1>
      <ol class="breadcrumb">
        {% block breadcrumbs %}
          <li><a href="{{ request.route_url('default') }}"><i
              class="fa fa-desktop"></i> Overview</a></li>
        {% endblock %}
      </ol>
    </section>

    <!-- Main content -->
    <section class="content">
      {% include 'includes/alerts.jinja2' %}
      {% block content %}{% endblock content %}
    </section>
    <!-- /.content -->
  </aside><!-- /.right-side -->
  <!-- Modal -->
  <div class="modal fade" id="details-modal" tabindex="-1" data-role="dialog"
       aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">

    </div>
  </div>
{% endblock wrapper %}
{% block page_scripts %}
  <script src="{{ request.static_url('composting:static/js/exif.js') }}" type="text/javascript"></script>
{% endblock %}