{% from 'macros/action_buttons.jinja2' import action_buttons %}
{% block content %}
<form method="post">
  <input type="hidden" name="csrf_token" value="{{ request.session.get_csrf_token() }}" />
  <div class="modal-content">
    <div class="modal-header">
      {% block header %}
        {{ action_buttons(request, submission) }}
      {% endblock %}
      <button type="button" class="btn btn-sm btn-default pull-right"
              data-dismiss="modal">
        Close
      </button>
    </div>
    <div class="modal-body" style="padding: 0">
      {% block body %}{% endblock %}
    </div>
  </div>
</form>
{% endblock %}