{% extends 'base_municipality.jinja2' %}
{% from 'macros/badge_class_from_status.jinja2' import badge_class_from_status %}
{% from 'macros/action_button_class_from_status.jinja2' import action_button_class_from_status %}
{% block title %}Skips{% endblock %}
{% block description %}List of daily waste register records{% endblock %}
{% block breadcrumbs %}
{% endblock breadcrumbs %}
{% block content %}
  <div class="row">
  <div class="col-md-12">
  <!-- general form elements -->
  <div class="box box-primary">
    <div class="box-header">
      <h3 class="box-title">New Skip</h3>
    </div>
    <!-- /.box-header -->
    <!-- form start -->
    <form class="form-horizontal" data-role="form" method="post">
      <div class="box-body">

        {% include 'includes/alerts.jinja2' %}

        {% for field in form %}
        {% set has_error = not not field.error %}
        <div class="form-group {% if has_error %}has-error{% endif %}">
          <label for="inputEmail3" class="col-sm-2 control-label">{{ field.title }}</label>

          <div class="col-sm-2">
            {{ field.serialize()|safe }}
          </div>
          {% if has_error %}
            {% for msg in field.error.messages() %}
        <span class="help-block">{{ msg }}</span>
            {% endfor %}
        {% endif %}
        </div>
        {% endfor %}
      </div>
      <!-- /.box-body -->
      <div class="box-footer">
        <div class="form-group">
          <div class="col-sm-offset-2 col-sm-10">
            <button type="submit" class="btn btn-primary">Create</button>
          </div>
        </div>
      </div>
    </form>
  </div>
  <!-- /.box -->

  </div>
  </div>
{% endblock content %}