{% extends 'base_municipality.jinja2' %}
{% from 'macros/badge_class_from_status.jinja2' import badge_class_from_status %}
{% from 'macros/action_button_class_from_status.jinja2' import action_button_class_from_status %}
{% block title %}Daily Waste Register{% endblock %}
{% block description %}List of daily waste register records{% endblock %}
{% block breadcrumbs %}
{% endblock breadcrumbs %}
{% block content %}
  <!-- filter row -->
  <div class="row">
    <div class="col-md-12">
      <div class="box box-primary">
        <div class="box-body">
          <form class="form-inline" data-role="form">
            <div class="form-group">
              <label for="inputEmail3" class="col-sm-2 control-label">Show:</label>
              <label class="checkbox-inline">
                <input name="pending" type="checkbox" id="inlineCheckbox1" value="1" {% if status.pending is defined %}checked="checked"{% endif %}> Pending
              </label>
              <label class="checkbox-inline">
                <input name="approved" type="checkbox" id="inlineCheckbox2" value="1" {% if status.approved is defined %}checked="checked"{% endif %}> Approved
              </label>
              <label class="checkbox-inline">
                <input name="rejected" type="checkbox" id="inlineCheckbox3" value="1" {% if status.rejected is defined %}checked="checked"{% endif %}> Rejected
              </label>
            </div>
            <button type="submit" class="btn btn-primary btn-sm">Update</button>
          </form>
        </div>
        <!-- /.box-body -->
      </div>
      <!-- /.box -->
    </div>
  </div>
  <!-- /filter row -->

  <div class="row">
    <div class="col-xs-12">
      {% for group in daily_wastes|groupby('date')|sort(True) %}
      <div class="box">
        <div class="box-header">
          <h3 class="box-title">{{ group.grouper }}</h3>
        </div>
        <!-- /.box-header -->
        <div class="box-body table-responsive no-padding">
          <form method="post">
            <table class="table table-hover">
              <tbody>
              <tr>
                <th>Time</th>
                <th>Vehicle #</th>
                <th>Skip #</th>
                <th>Skip Type</th>
                <th>Height</th>
                <th>Volume</th>
                <th>Tonnage</th>
                <th>Status</th>
                <th>Actions</th>
              </tr>
              {% for daily_waste in group.list %}
                {% set report = daily_waste.submission.json_data %}
                {% set status = daily_waste.submission.status %}
                <tr>
                  <td>{{ daily_waste.time }}</td>
                  <td>{{ report.vehicle_number }}</td>
                  <td>{{ report.skip_number }}</td>
                  <td>{{ report.skip_type }}</td>
                  <td>{% if report.waste_height %}{{ report.waste_height }}m{% endif %}</td>
                  <td>{% if daily_waste.volume is not none %}{{ daily_waste.volume }}m<sup>3</sup>{% endif %}</td>
                  <td>0.25t</td>
                  <td><span
                      class="label {{ badge_class_from_status(status) }}">{{ status }}</span>
                  </td>
                  <td>
                    <a class="btn btn-default btn-xs">View</a>
                    {% if daily_waste.can_approve(request) %}
                      {% set action = 'approve' %}
                    {% elif daily_waste.can_reject(request) %}
                      {% set action = 'reject' %}
                    {% elif daily_waste.can_unapprove(request) %}
                      {% set action = 'unapprove' %}
                    {% else %}
                      {% set action = none %}
                    {% endif %}
                    {% if action is not none %}
                    <button type="submit" class="btn {{ action_button_class_from_status(status) }} btn-xs" formaction="{{ request.route_url('daily-waste', traverse=(daily_waste.id, action)) }}">
                      {{ action }}
                    </button>
                    {% endif %}
                  </td>
                </tr>
              {% endfor %}
              </tbody>
            </table>
          </form>
        </div>
        <!-- /.box-body -->
      </div>
      <!-- /.box -->
      {% endfor %}
    </div>
  </div>
{% endblock %}