{% extends 'base_municipality.jinja2' %}
{% from 'macros/badge_class_from_status.jinja2' import badge_class_from_status %}
{% from 'macros/action_buttons.jinja2' import action_buttons %}
{% block title %}Daily Waste Register{% endblock %}
{% block description %}List of daily waste register records{% endblock %}
{% block breadcrumbs %}
{% endblock breadcrumbs %}
{% block content %}
  {% include 'includes/status_filter_form.jinja2' %}

  <div class="row">
    <div class="col-xs-12">
      {% for group in items|groupby('date')|sort(True) %}
      <div class="box">
        <div class="box-header">
          <h3 class="box-title">{{ group.grouper|format_date(request) }}</h3>
        </div>
        <!-- /.box-header -->
        <div class="box-body table-responsive no-padding">
          <form method="post">
            <input type="hidden" name="csrf_token" value="{{ request.session.get_csrf_token() }}" />
            <table class="table table-hover">
              <thead>
              <tr>
                <th style="width: 8%">Time</th>
                <th style="width: 12%">Vehicle #</th>
                <th  style="width: 8%">Skip #</th>
                <th style="width: 8%">Skip Type</th>
                <th style="width: 10%">Height</th>
                <th style="width: 10%">Volume</th>
                <th style="width: 10%">Tonnage</th>
                <th style="width: 12%">Remarks</th>
                <th style="width: 10%">Status</th>
                <th>Actions</th>
              </tr>
              </thead>
              <tbody>
              {% for daily_waste in group.list %}
                {% set report = daily_waste.json_data %}
                {% set status = daily_waste.status %}
                {% set volume = daily_waste.volume %}
                {% set tonnage = daily_waste.tonnage %}
                {% set skip = municipality.get_skip(report.skip_type) %}
                <tr>
                  <td>{{ daily_waste.time|format_time(request) }}</td>
                  <td>{{ report.vehicle_number }}</td>
                  <td>{{ report.skip_number }}</td>
                  <td>
                    {{ report.skip_type }}
                    {% if not skip and report.compressor_truck == 'no' %}
                    <span class="label label-danger" data-toggle="tooltip" title="Cannot approve! Invalid skip type"><i class="fa fa-warning"></i></span>
                    {% endif %}
                  </td>
                  <td>{% if report.compressor_truck == 'no' %}{{ report.waste_height }}m{% else %}N/A{% endif %}</td>
                  <td>{% if volume is not none %}{{ volume }}m<sup>3</sup>{% endif %}</td>
                  <td>
                    {% if tonnage is not none %}{{ tonnage|format_decimal(request) }}t{% else %}-{% endif %}
                    {# if we have a volume but no tonnage, we're missing a monthly density value #}
                    {% if volume is not none and tonnage is none %}
                    <span class="label label-danger" data-toggle="tooltip" title="Cannot approve! Monthly density is not available"><i class="fa fa-warning"></i></span>
                    {% endif %}
                  </td>
                  <td>
                    {% if report.remarks %}
                    <div class="overflow-tooltip" data-toggle="tooltip" title="{{ report.remarks }}">
                      <a href="javascript:;">{{ report.remarks }}</a>
                    </div>
                    {% endif %}
                  </td>
                  <td><span
                      class="label {{ badge_class_from_status(status) }}">{{ status }}</span>
                  </td>
                  <td>
                    <a class="btn btn-default btn-xs btn-details" data-url="{{ request.route_path('submissions', traverse=(daily_waste.id,)) }}">View</a>
                    <a class="btn btn-default btn-xs" href="{{ request.route_path('submissions', traverse=(daily_waste.id, 'edit', )) }}">Edit</a>
                    {{ action_buttons(request, daily_waste) }}
                  </td>
                </tr>
              {% endfor %}
              </tbody>
            </table>
          </form>
        </div>
        <!-- /.box-body -->
      </div>
      <!-- /.box -->
      {% endfor %}
    </div>
  </div>
{% endblock %}