{% extends 'base.jinja2' %}
{% block title %}Overview{% endblock %}
{% block description %}Quick overview{% endblock %}
{% block breadcrumbs %}
{% endblock breadcrumbs %}
{% block content %}{% endblock %}