{% extends 'base_municipality.jinja2' %}
{% from 'macros/badge_class_from_status.jinja2' import badge_class_from_status %}
{% from 'macros/action_button_class_from_status.jinja2' import action_button_class_from_status %}
{% block title %}Monthly Waste Density Register{% endblock %}
{% block page_styles %}
  <link href="{{ request.static_url('composting:static/css/datetimepicker/bootstrap-datetimepicker.min.css') }}" rel="stylesheet" type="text/css" />
{% endblock %}
{% block breadcrumbs %}
{% endblock breadcrumbs %}
{% block content %}
  <!-- filter row -->
  <div class="row">
    <div class="col-md-12">
      <div class="box box-primary">
        <div class="box-body">
          <form class="form-inline" data-role="form" id="filter-form" method="get">
            <input type="hidden" name="month" />
            <div class="form-group">
              <div class=" col-md-3 input-group date month-selector">
                    <input type='text' class="form-control" value="{{ selected_date }}" readonly="" />
                    <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span>
                    </span>
                </div>
            </div>
          </form>
        </div>
        <!-- /.box-body -->
      </div>
      <!-- /.box -->
    </div>
  </div>
  <!-- /filter row -->

  <div class="row">
    <div class="col-xs-12">
      <div class="box">
        <div class="box-header">
          <h3 class="box-title">{#{{ group.grouper|format_date(request, 'MMM yyyy') }}#}</h3>
        </div>
        <!-- /.box-header -->
        <div class="box-body table-responsive no-padding">
          <form method="post">
            <table class="table table-hover">
              <tbody>
              <tr>
                <th>Time</th>
                <th>Skip #</th>
                <th>Skip Type</th>
                <th>Height</th>
                <th>Volume</th>
                <th>Filled Weight</th>
                <th>Empty Weight</th>
                <th>Net Weight</th>
                <th>Density</th>
                <th>Remarks</th>
                <th>Status</th>
                <th>Actions</th>
              </tr>
              {% for monthly_waste in items|sort %}
                {% set report = monthly_waste.json_data %}
                {% set status = monthly_waste.status %}
                <tr>
                  <td>{{ monthly_waste.time|format_time(request) }}</td>
                  <td>{{ report.skip_number }}</td>
                  <td>{{ report.skip_type }}</td>
                  <td>{% if report.waste_height %}{{ report.waste_height }}m{% endif %}</td>
                  <td>{% if monthly_waste.volume is not none %}{{ monthly_waste.volume|format_decimal(request) }}m<sup>3</sup>{% endif %}</td>
                  <td>{{ report.filled_weight }}</td>
                  <td>{{ report.empty_weight }}</td>
                  <td>{{ monthly_waste.net_weight }}</td>
                  <td>{% if monthly_waste.volume is not none %}{{ monthly_waste.density|format_decimal(request) }}t/m<sup>3</sup>{% endif %}</td>
                  <td>
                    {% if report.remarks %}
                    <div class="overflow-tooltip" data-toggle="tooltip" title="{{ report.remarks }}">
                      <a href="javascript:;">{{ report.remarks }}</a>
                    </div>
                    {% endif %}
                  </td>
                  <td><span
                      class="label {{ badge_class_from_status(status) }}">{{ status }}</span>
                  </td>
                  <td>
                    <a class="btn btn-default btn-xs">View</a>
                    {% if monthly_waste.can_approve(request) %}
                      {% set action = 'approve' %}
                      {% set label = 'Approve' %}
                    {% elif monthly_waste.can_reject(request) %}
                      {% set action = 'reject' %}
                      {% set label = 'Reject' %}
                    {% elif monthly_waste.can_unapprove(request) %}
                      {% set action = 'unapprove' %}
                      {% set label = 'Unapprove' %}
                    {% elif monthly_waste.can_reapprove(request) %}
                      {% set action = 'approve' %}
                      {% set label = 'Reapprove' %}
                    {% else %}
                      {% set action = none %}
                    {% endif %}
                    {% if action is not none %}
                    <button type="submit" class="btn {{ action_button_class_from_status(status) }} btn-xs" formaction="{{ request.route_url('submissions', traverse=(monthly_waste.id, action)) }}">
                      {{ label }}
                    </button>
                    {% endif %}
                  </td>
                </tr>
              {% endfor %}
              </tbody>
              <tfoot>
                <tr>
                  <tr>
                  <td class="text-right" colspan="8"><strong>Average Density</strong></td>
                  <td><strong>{% if average_density is not none %}{{ average_density|format_decimal(request) }} t/m<sup>3</sup>{% else %}N/A{% endif %}</strong></td>
                  <td></td>
                  <td></td>
                  <td></td>
                </tr>
                </tr>
              </tfoot>
            </table>
          </form>
        </div>
        <!-- /.box-body -->
      </div>
      <!-- /.box -->
    </div>
  </div>
{% endblock %}
{% block page_scripts %}
  <script src="{{ request.static_url('composting:static/js/moment.min.js') }}" type="text/javascript"></script>
  <script src="{{ request.static_url('composting:static/js/datetimepicker/bootstrap-datetimepicker.min.js') }}" type="text/javascript"></script>
{% endblock %}
{% block jquery_ready %}
  var month_picker = $(".month-selector").datetimepicker( {
    format: "MMM, YYYY",
    viewMode: "months",
    minViewMode: "months",
    pickTime: false
  });
  month_picker.on('dp.change', function (evt) {
    var selectedMonth = moment(evt.date.toDate()).format("YYYY-MM");
    $('#filter-form :input[name=month]').val(selectedMonth);
    $('#filter-form').submit();
  });
{% endblock %}