{% extends 'base_show_details_modal.jinja2' %}
{% block body %}
<table class="table">
  <tbody>
  <tr>
    <th style="width: 30%">Question</th>
    <th>Response</th>
  </tr>
  <tr>
    <td>Recorded At</td>
    <td>{{ submission.date|format_date(request) }} {{ submission.time|format_time(request) }}</td>
  </tr>
  <tr>
    <td>Submitted At</td>
    {% set locale_submission_time = submission.locale_submission_time() %}
    <td>{{ locale_submission_time|format_date(request) }} {{ locale_submission_time|format_time(request) }}</td>
  </tr>
  <tr>
    <td>Skip #</td>
    <td>{{ report.skip_number }}</td>
  </tr>
  <tr>
    <td>Skip Type</td>
    <td>{{ report.skip_type }}</td>
  </tr>
  <tr>
    <td>Is this a compressor truck?</td>
    <td>{{ report.compressor_truck }}</td>
  </tr>
  {% if report.waste_height is defined %}
    <tr>
      <td>Waste Height</td>
      <td>{{ report.waste_height }}m</td>
    </tr>
  {% endif %}
  <tr>
    <td>Volume</td>
    <td>{% if submission.volume is not none %}{{ submission.volume }}m
      <sup>3</sup>{% endif %}</td>
  </tr>
  <tr>
    <td>Filled Weight</td>
    <td>{{ report.filled_weight }}t</td>
  </tr>
  <tr>
    <td>Empty Weight</td>
    <td>{{ report.empty_weight }}t</td>
  </tr>
  <tr>
    <td>Net Weight</td>
    <td>{{ submission.net_weight }}t</td>
  </tr>
  <tr>
    <td>Density</td>
    <td>{% if submission.volume is not none %}{{ submission.density|format_decimal(request) }}t/m<sup>3</sup>{% endif %}</td>
  </tr>
  <tr>
    <td>Remarks</td>
    <td>{{ report.remarks }}</td>
  </tr>
  <tr>
    <td>Location</td>
    <td></td>
  </tr>
  <tr>
    <td>Clerks Signature</td>
    <td>
      {% if report.clerk_signature %}
        <img class="image-timestamp"
             src="{{ image_url_base }}{{ report.clerk_signature }}"/>
      {% endif %}
    </td>
  </tr>
  </tbody>
</table>
{% endblock %}
