{% extends 'base_show_details_modal.jinja2' %}
{% block rows %}
  <tr>
    <td>Skip #</td>
    <td>{{ report.skip_number }}</td>
  </tr>
  <tr>
    <td>Skip Type</td>
    <td>{{ report.skip_type }}</td>
  </tr>
  <tr>
    <td>Is this a compressor truck?</td>
    <td>{{ report.compressor_truck }}</td>
  </tr>
  {% if report.waste_height is defined %}
    <tr>
      <td>Waste Height</td>
      <td>{{ report.waste_height }}m</td>
    </tr>
  {% endif %}
  <tr>
    <td>Volume</td>
    <td>{% if submission.volume is not none %}{{ submission.volume }}m
      <sup>3</sup>{% endif %}</td>
  </tr>
  <tr>
    <td>Filled Weight</td>
    <td>{{ report.filled_weight }}t</td>
  </tr>
  <tr>
    <td>Empty Weight</td>
    <td>{{ report.empty_weight }}t</td>
  </tr>
  <tr>
    <td>Net Weight</td>
    <td>{{ submission.net_weight }}t</td>
  </tr>
  <tr>
    <td>Density</td>
    <td>{% if submission.volume is not none %}{{ submission.density|format_decimal(request) }}t/m<sup>3</sup>{% endif %}</td>
  </tr>
{% endblock %}
