{% extends 'base_show_details_modal.jinja2' %}
{% block body %}
<table class="table">
  <tbody>
  <tr>
    <th style="width: 30%">Question</th>
    <th>Response</th>
  </tr>
  <tr>
    <td>Recorded At</td>
    {% set end_time = submission.end_time %}
    <td>{{ end_time|format_date(request) }} {{ end_time|format_time(request) }}</td>
  </tr>
  <tr>
    <td>Submitted At</td>
    {% set locale_submission_time = submission.locale_submission_time() %}
    <td>{{ locale_submission_time|format_date(request) }} {{ locale_submission_time|format_time(request) }}</td>
  </tr>
  <tr>
    <td>Date</td>
    <td>{{ submission.date|format_date(request) }}</td>
  </tr>
  <tr>
    <td>Skip #</td>
    <td>{{ report.skip_number }}kgs</td>
  </tr>
  <tr>
    <td>Wood and wood products </td>
    <td>{{ report.wood_products }}kgs</td>
  </tr>
  <tr>
    <td>Paper and Pulp</td>
    <td>{{ report.paper_pulp }}kgs</td>
  </tr>
  <tr>
    <td>Food and Food waste</td>
    <td>{{ report.food_waste }}kgs</td>
  </tr>
  <tr>
    <td>Garden, yard and park waste </td>
    <td>{{ report.garden_yard_waste }}kgs</td>
  </tr>
  <tr>
    <td>Textiles</td>
    <td>{{ report.textiles }}kgs</td>
  </tr>
  <tr>
    <td>Paper and Pulp</td>
    <td>{{ report.paper_pulp }}kgs</td>
  </tr>
  <tr>
    <td>Glass, plastics, metal and inert</td>
    <td>{{ report.glass_plastics_metal }}kgs</td>
  </tr>
  <tr>
    <td><strong>Total Weight</strong></td>
    <td><strong>{{ submission.total_waste }}kgs</strong></td>
  </tr>
  <tr>
    <td>Remarks</td>
    <td>{{ report.remarks }}</td>
  </tr>
  <tr>
    <td>Location</td>
    <td></td>
  </tr>
  <tr>
    <td>Clerks Signature</td>
    <td>
      {% if report.clerk_signature %}
        <img class="image-timestamp"
             src="{{ image_url_base }}{{ report.clerk_signature }}"/>
      {% endif %}
    </td>
  </tr>
  </tbody>
</table>
{% endblock %}