{% extends 'base_show_details_modal.jinja2' %}
{% set municipality = submission.municipality_submission.municipality %}
{% block rows %}
  <tr>
    <td>Meter Reading</td>
    <td>{{ report.meter_reading }} kWh</td>
  </tr>
  <tr>
    <td>Consumption Since Last Reading</td>
    {% set consumption_since_last_reading = submission.consumption_since_last_reading(municipality) %}
    <td>{% if consumption_since_last_reading %}{{ submission.consumption_since_last_reading(municipality) }} kWh{% else %} - {% endif %}</td>
  </tr>
  <tr>
    <td>Bill Reading</td>
    <td>{{ report.bill_reading }} kWh</td>
  </tr>
  <tr>
    <td>Bill Amount</td>
    <td>{{ report.bill_amount|float|format_decimal(request, '#,##0.00') }} USH</td>
  </tr>
{% endblock %}
