{% extends 'base_show_details_modal.jinja2' %}
{% block rows %}
  <tr>
    <td>Number of Barrows from Sorting</td>
    <td>{{ report.barrows_number_frm_sorting }}</td>
  </tr>
  <tr>
    <td>Number of Barrows from Sieving</td>
    <td>{{ report.barrows_number_frm_sieving }}</td>
  </tr>
{% endblock %}
