{% extends 'base_municipality.jinja2' %}
{% block title %}Site Reports{% endblock %}
{% block page_styles %}
  <!-- daterange picker -->
  <link href="{{ request.static_url('composting:static/css/daterangepicker/daterangepicker-bs3.css') }}" rel="stylesheet" type="text/css" />
{% endblock %}
{% block breadcrumbs %}
{% endblock breadcrumbs %}
{% block content %}
  <!-- filter row -->
  <div class="row">
    <div class="col-md-12">
      <div class="box box-primary">
        <div class="box-body">
          <form class="form-inline" data-role="form" id="filter-form" method="get">
            <input type="hidden" name="start" />
            <input type="hidden" name="end" />
            <div class="form-group">
              <div class=" col-md-3 input-group date month-selector">
                <!-- date range picker -->
                <button class="btn btn-default pull-right" id="daterange-btn">
                  <i class="fa fa-calendar"></i> {% if label is not none %}{{ label }}{% else %}{{ start|format_date(request) }}{% if start != end %} - {{ end|format_date(request) }}{% endif %}{% endif %}
                  <i class="fa fa-caret-down"></i>
                </button>
                <!-- /date range picker -->
              </div>
            </div>
          </form>
        </div>
        <!-- /.box-body -->
      </div>
      <!-- /.box -->
    </div>
  </div>
  <!-- /filter row -->

  <div class="row">
    <div class="col-xs-12">
      <div class="box">
        <div class="box-header">
          <h3 class="box-title">{{ start|format_date(request) }}{% if start != end %} - {{ end|format_date(request) }}{% endif %}</h3>
        </div>
        <!-- /.box-header -->
        <div class="box-body table-responsive no-padding">
         <table class="table table-hover table-bordered">
            <thead>
            <tr>
              <th style="width: 10%"></th>
              <th style="width: 20%">Parameter</th>
              <th style="width: 10%">Unit</th>
              <th style="width: 10%">Value</th>
              <th colspan="2">Comments</th>
            </tr>
            </thead>
            <tbody>
            <tr>
              <td rowspan="4">MWS</td>
              <td>Volume of MSW processed</td>
              <td>m<sup>3</sup></td>
              {% set volume_of_msw_processed = municipality.volume_of_msw_processed(start, end) %}
              <td>{{ volume_of_msw_processed|default(0, true)|format_decimal(request) }}</td>
              <td style="width: 25%">Consistency with normal monthly supply</td>
              <td><!-- comments --></td>
            </tr>
            <tr>
              <td>Density of MSW</td>
              <td>t/m<sup>3</sup></td>
              {% set density_of_msw = municipality.density_of_msw(start, end) %}
              <td>{{ density_of_msw|default(0, true)|format_decimal(request) }}</td>
              <td style="width: 25%">Consistency with normal monthly supply</td>
              <td><!-- comments --></td>
            </tr>
            <tr>
              <td>Quantity of MSW processed</td>
              <td>Tonnes</td>
              {% set tonnage_of_msw_processed = municipality.tonnage_of_msw_processed(start, end) %}
              <td>{{ tonnage_of_msw_processed|default(0, true)|format_decimal(request) }}</td>
              <td class="inactive"></td>
              <td class="inactive"></td>
            </tr>
            <tr>
              <td>Number of trucks having delivered MSW</td>
              <td class="inactive"></td>
              <td>{{ municipality.num_trucks_delivered_msw(start, end)|format_number(request) }}</td>
              <td>Consistency with normal activity</td>
              <td class="inactive"><!-- comments --></td>
            </tr>
            <!-- compost report -->
            <tr>
              <td rowspan="7">Compost</td>
              <td>Volume of mature compost (Qmc)</td>
              <td>m<sup>3</sup></td>
              {% set volume_of_mature_compost = municipality.volume_of_mature_compost(start, end) %}
              <td>{% if volume_of_mature_compost is none %} - {% else %}{{ volume_of_mature_compost|format_decimal(request) }}{% endif %}</td>
              <td class="inactive"></td>
              <td class="inactive"></td>
            </tr>
            <tr>
              <td>Density of mature compost (Dmc)</td>
              <td>Ton/m<sup>3</sup></td>
              {% set density_of_mature_compost = municipality.density_of_mature_compost(start, end) %}
              <td>{% if density_of_mature_compost is none %} - {% else %}{{ density_of_mature_compost|format_decimal(request) }}{% endif %}</td>
              <td>Consistency with previous months</td>
              <td></td>
            </tr>
            <tr>
              <td>Conversion factor mature to sieved (WSieved/WMature)</td>
              <td>N/A</td>
              {% set conversion_factor_mature_to_sieved = municipality.conversion_factor_mature_to_sieved(start, end) %}
              <td>{% if conversion_factor_mature_to_sieved is none %} - {% else %}{{ conversion_factor_mature_to_sieved|format_decimal(request) }}{% endif %}</td>
              <td>Comparison with Quantity of rejects from sieving</td>
              <td></td>
            </tr>
            <tr>
              <td>Quantity of compost produced (Qpc)</td>
              <td>Tonnes</td>
              {% set quantity_of_compost_produced = municipality.quantity_of_compost_produced(start, end) %}
              <td>{% if quantity_of_compost_produced is none %} - {% else %}{{ quantity_of_compost_produced|format_decimal(request) }}{% endif %}</td>
              <td>Consistency with normal monthly production</td>
              <td></td>
            </tr>
            <tr>
              <td>Quantity of compost sold</td>
              <td>Tonnes</td>
              {% set quantity_of_compost_sold = municipality.quantity_of_compost_sold(start, end) %}
              <td>{% if quantity_of_compost_sold is none %} - {% else %}{{ quantity_of_compost_sold|format_decimal(request) }}{% endif %}</td>
              <td>Consistency with compost produced</td>
              <td></td>
            </tr>
            <tr>
              <td>Number of vehicles having transported compost</td>
              <td>N/A</td>
              <td>{{ municipality.vehicle_count(start, end)|format_number(request) }}</td>
              <td>Comparison with previous months</td>
              <td></td>
            </tr>
            <tr>
              <td>Average distance travelled by vehicles transporting compost</td>
              <td>Kms</td>
              {% set average_distance = municipality.average_distance_travelled(start, end) %}
              <td>{% if average_distance is none %} - {% else %}{{ average_distance|format_decimal(request) }}{% endif %}</td>
              <td>Comparison with previous months</td>
              <td></td>
            </tr>
            <!-- /compost report -->
            <!-- Rejects from sieving -->
            <tr>
              <td rowspan="4">Rejects from sieving</td>
              <td>Volume of rejects from sieving landfilled</td>
              <td>Tonnes</td>
              {% set volume_of_rejects_from_sieving = municipality.volume_of_rejects_from_sieving(start, end) %}
              <td>{% if volume_of_rejects_from_sieving is none %} - {% else %}{{ volume_of_rejects_from_sieving|format_decimal(request) }}{% endif %}</td>
              <td class="inactive"></td>
              <td class="inactive"></td>
            </tr>
            <tr>
              <td>Density of rejects from sieving</td>
              <td>Ton/m<sup>3</sup></td>
              <td><!-- value--></td>
              <td class="inactive"></td>
              <td class="inactive"></td>
            </tr>
            <tr>
              <td rowspan="2">Quantity of rejects from sieving landfilled</td>
              <td>Tonnes</td>
              <td><!-- value--></td>
              <td rowspan="2">Consistency with previous months</td>
              <td rowspan="2"></td>
            </tr>
            <tr>
              <td>%</td>
              <td><!-- value--></td>
            </tr>
            <!-- /Rejects from sieving -->
            <!-- Oxygen content -->
            <tr>
              <td rowspan="3">Oxygen content</td>
              <td>Total # of samples</td>
              <td>N/A</td>
              <td><!-- value --></td>
              <td>Normal operation (about 240 samples for 4 windrows)</td>
              <td></td>
            </tr>
            <tr>
              <td rowspan="2">Total # of samples below 10%</td>
              <td>N/A</td>
              <td><!-- value --></td>
              <td rowspan="2">Normal operation (about 240 samples for 4 windrows)</td>
              <td rowspan="2"></td>
            </tr>
            <tr>
              <td>%</td>
              <td><!-- value--></td>
            </tr>
            <!-- /Oxygen content -->
            <!-- Energy -->
            <tr>
              <td rowspan="2">Energy</td>
              <td>Fuel consumption (on site)</td>
              <td>Litres</td>
              {% set fuel_consumption = municipality.fuel_consumption(start, end) %}
              <td>{% if fuel_consumption is none %} - {% else %}{{ fuel_consumption|format_number(request) }} {% endif %}</td>
              <td>Consistency with MSW processed</td>
              <td></td>
            </tr>
            <tr>
              <td>Electricity consumption</td>
              <td>MWh</td>
              <td><!-- value --></td>
              <td>Consistency with normal activity</td>
              <td></td>
            </tr>
            <!-- /Energy -->
            <!-- Leachate -->
            <tr>
              <td>Leachate</td>
              <td>Volume of leachate accumulated in 24 hours</td>
              <td>m<sup>3</sup></td>
              <td><!-- value --></td>
              <td>Any impacting factors</td>
              <td></td>
            </tr>
            <!-- /Leachate -->
            <!-- Plant operation -->
            <tr>
              <td rowspan="3">Plant operation</td>
              <td>Number of days of operation</td>
              <td></td>
              <td><!-- value --></td>
              <td rowspan="2">Days of operation + holidays + Sundays = Days in the month</td>
              <td rowspan="2"></td>
            </tr>
            <tr>
              <td>Number of holidays</td>
              <td></td>
              <td><!-- value --></td>
            </tr>
            <tr>
              <td>Number of days of abnormal operation (much more or less MSW supply)</td>
              <td></td>
              <td><!-- value --></td>
              <td rowspan="2">Any impacting factors (e.g. tractor breakdown)</td>
              <td rowspan="2"></td>
            </tr>
            <!-- /Plant operation -->
            </tbody>
          </table>
        </div>
        <!-- /.box-body -->
      </div>
      <!-- /.box -->
    </div>
  </div>
{% endblock %}
{% block page_scripts %}
  <!-- date-range-picker -->
  <script src="{{ request.static_url('composting:static/js/plugins/daterangepicker/daterangepicker.js') }}" type="text/javascript"></script>
{% endblock %}
{%- block jquery_ready -%}
  //Date range as a button
  $('#daterange-btn').daterangepicker(
      {
        opens: 'right',
        ranges: {
          'Today': [moment(), moment()],
          'Yesterday': [moment().subtract('days', 1), moment().subtract('days', 1)],
          'Last 7 Days': [moment().subtract('days', 6), moment()],
          'Last 30 Days': [moment().subtract('days', 29), moment()],
          'This Month': [moment().startOf('month'), moment().endOf('month')],
          'Last Month': [moment().subtract('month', 1).startOf('month'), moment().subtract('month', 1).endOf('month')]
        },
        startDate: moment('{{ start|format_date(request, 'yyyy-MM-d') }}'),
        endDate: moment('{{ end|format_date(request, 'yyyy-MM-d') }}')
      },
      function (start, end) {
        var start_date = start.format('YYYY-MM-DD');
        var end_date = end.format('YYYY-MM-DD');
        $('#filter-form :input[name=start]').val(start_date);
        $('#filter-form :input[name=end]').val(end_date);
        $('#filter-form').submit();
      }
  );
{%- endblock -%}