{% extends 'base_show_details_modal.jinja2' %}
{% block rows %}
  <tr>
    <td>Date</td>
    <td>{{ submission.date|format_date(request) }}</td>
  </tr>
  <tr>
    <td>Windrow #</td>
    <td>{{ submission.windrow_no }}</td>
  </tr>
  <tr>
    <td>Week #</td>
    <td>{{ submission.week_no }}</td>
  </tr>
  <tr>
    <td>Temperature 1</td>
    <td>{{ report['monitoring_group/t1'] }} <sup>o</sup>C</td>
  </tr>
  <tr>
    <td>Temperature 2</td>
    <td>{{ report['monitoring_group/t2'] }} <sup>o</sup>C</td>
  </tr>
  <tr>
    <td>Temperature 3</td>
    <td>{{ report['monitoring_group/t3'] }} <sup>o</sup>C</td>
  </tr>
  <tr>
    <td>Temperature 4</td>
    <td>{{ report['monitoring_group/t4'] }} <sup>o</sup>C</td>
  </tr>
  <tr>
    <td>Temperature 5</td>
    <td>{{ report['monitoring_group/t5'] }} <sup>o</sup>C</td>
  </tr>
  <tr>
    <td>Oxygen 1</td>
    <td>{{ report['monitoring_group/o1'] }} %</td>
  </tr>
  <tr>
    <td>Oxygen 2</td>
    <td>{{ report['monitoring_group/o2'] }} %</td>
  </tr>
  <tr>
    <td>Oxygen 3</td>
    <td>{{ report['monitoring_group/o3'] }} %</td>
  </tr>
  <tr>
    <td>Oxygen 4</td>
    <td>{{ report['monitoring_group/o4'] }} %</td>
  </tr>
  <tr>
    <td>Oxygen 5</td>
    <td>{{ report['monitoring_group/o5'] }} %</td>
  </tr>
{% endblock %}
