{% extends 'base_municipality.jinja2' %}
{% block title %}Daily Waste Register{% endblock %}
{% block description %}List of daily waste register records{% endblock %}
{% block breadcrumbs %}
{% endblock breadcrumbs %}
{% block content %}{% endblock %}