.overflow-tooltip {
    max-width: 100px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.table td.in-active {
    background-color: #f5f5f5;
}

.label a {
    color: white;
}

.create-new-site {
    height: 70px;
}