.overflow-tooltip {
    max-width: 100px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.table td.inactive {
    background-color: #f5f5f5;
}

.label a {
    color: white;
}

.create-new-site {
    height: 70px;
}

.create-new-site a {
    color: #fff;
}

.download-xls {
    margin-right: 1em;
    margin-top: 0.5em;
}